
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Formulário</title>
</head>
<body>
    <div>

        <!-- Isto é uma linha de comentário -->
        @*   outra linha de comentário       *@

        @* Formulario para perguntar aos utilizadores
            -nome
            -idade
            e depois fazer aparecer essa informação no ecrã
        *@




        <h2>O meu formulário</h2>

        <form method="post">

            qual o seu nome? <input type="text" name="nome" required="required"/> <br />
            qual a sua idade? <input type="number" name="idade" @*required="required" max="120" min="0"*@/> <br />
            <br />
            <input type="submit" value="Enviar dados" />


        </form>
        @if (ViewBag.resposta != "")
        {
            //este if garante que a ALERT apenas aparece se a 'resposta' tiver algum conteudo
            <text>
                <script>
                    alert("@ViewBag.resposta");
                </script>
            </text>
        }


    </div>
</body>

</html>
